{
  "extends": ["stylelint-config-prettier", "stylelint-config-recess-order", "stylelint-config-standard"],
  "plugins": ["stylelint-prettier", "stylelint-order"],
  "rules": {
    "at-rule-no-unknown": [true, { "ignoreAtRules": [""] }],
    "indentation": 2,
    "no-descending-specificity": null,
    "property-no-unknown": [true, { "ignoreProperties": ["composes"] }],
    "selector-pseudo-class-no-unknown": [true, { "ignorePseudoClasses": ["global"] }]
  }
}
